[Unit]
Description=database replication

[Service]
Type=oneshot
WorkingDirectory={{ hive_home_dir }}
ExecStart=/usr/bin/start-replication.sh
User={{ hive_safe_admin }}
Group={{ hive_safe_admin }}