acme_directory: https://acme-staging-v02.api.letsencrypt.org/directory
# acme_directory: https://acme-v02.api.letsencrypt.org/directory
acme_email: "{{ credentials.acme_email }}"
pdns_api_key: "{{ db_password }}"
acme_country_name: "{{ acme_country_name }}"
acme_organization_name: "{{ acme_organization_name }}"
acme_organizational_unit_name: "{{ acme_organizational_unit_name }}"
