{% for s in groups['services'] | intersect(groups[hive_stage]) %}
{% set labels = (hostvars[s].hive_labels | default({})) %}
{% if labels.webgate is defined %}
{{ (labels.published_name | default(s)) + "." + domain }}
{% endif %}
{% endfor %}
monitor.{{ domain }}